.todos {
    list-style-type: none;
    padding-left: 0;
}

.todos li {
    margin-bottom: 5px;
    padding: 10px 0;
    border-bottom: 1px solid #eee; 
}

.todos p {
    margin: 0;
    line-height: 26px; 
}

.editing {
    display: none;
}

.form-control.todo-edit-input {
    display: none;
    width: 100%;
}

#no-todo {
    display: none;
    text-align: center;
}

.content {
    display: block;
    width: 100%;
}

.buttons {
    width: 100%;
    margin: 10px 0;
    text-align: right;
}

.buttons button {
    display: inline-block;
    margin-left: 5px;
}

.panel {
    margin-top: 25px;
}


