body {
  border: none;
}

.todos {
    list-style-type: none;
}

.todos li {
    margin-bottom: 40px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.todos p {
    margin: 0;
    line-height: 26px;
    padding-left: 3px;
    max-width: 450px;
}

.display {
    float: right;
    position: relative;
    bottom: 35px;
}

.editing {
    float: right;
    position: relative;
    bottom: 35px;
/*    display: none;*/
}

.todo-edit-input {
/*    display: none;*/
    width: 350px;
}

